.header__text{
    width: fit-content;
    font-size: 1.3em;
    margin: 25px auto;
    position: relative;
}

.header__text > h2 > sup{
    margin-left: -10px;
}

.header__text > h4{
    font-size: 0.7em;
    color: rgba(111, 111, 111, 0.9);
    position: absolute;
    right: -10px;
}

.grid__area{
    width: fit-content;
    margin: 50px auto 0 auto;
}

.button__area{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.button__area > button{
    background: transparent;
    border: 2px solid black;
    padding: 6px 9px;
    font-weight: bold;
    margin-top: 25px;
    position: relative;
    transition: color 0.3s;
}

.button__area > button::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 102%;
    background: black;
    top: 0;
    left: -1px;
    transition: width 0.4s ease-in-out;
}

.button__area > button:hover{
    color: white;
    z-index: 1;
}

.button__area > button:hover::before{
    color: white;
    cursor: pointer;
    width: 102%;
    z-index: -1;
}
