.grid__area{
    width: fit-content;
    margin: 50px auto 0 auto;
}

.button__area{
    width: fit-content;
    min-height: 80px;
    margin: 25px auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

