button{
    background: transparent;
    border: 2px solid black;
    padding: 6px 9px;
    font-weight: bold;
    min-width: 110px;
    position: relative;
    transition: color 0.3s;
}

button::before{
    content: '';
    position: absolute;
    width: 0;
    height: 105%;
    background: black;
    top: -1px;
    left: -1px;
    transition: width 0.4s ease-in-out;
}

button:hover{
    color: white;
    cursor: pointer;
    z-index: 1;
}

button:hover::before{
    color: white;
    width: 102%;
    z-index: -1;
}